
body {
  margin: 0;
}

@keyframes fadein {
  from {  transform: translate(0px, 25px); opacity: 0; }
  to {transform: translate(0px, 0px); opacity: 1; }
}

#vid_bkg {
  background-image: url("assets/burning-fire.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%, 100%;
  position: relative; 
  height: 100vh;
}

#stat_bkg {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("assets/gray-bkg.jpg");
  background-repeat: no-repeat;
  background-attachment: attached;
  background-size: 100%, 100%;
}

#hope_bkg {
  margin-top: -50px;
  background-image: url("assets/redwoods2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%, 100%;
  height: 800px;
}

#final_bkg {
  width: 100%;
  background-color: forestgreen;
  opacity: 0.9;
  height: 550px;
}

#footer_bkg {
  padding: 1px;
  height: 40px;
  width: 100%;
  background-color: white;
}

#stat_heading {
  color: black;
  font-size: 40px;
  padding-left: 15%;
  padding-right: 15%;
}

#hope_heading {
  padding-top: 30px;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#final_heading {
  padding-top: 30px;
  font-size: 55px;
}

#footer_text {
  font-size: 15px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  color: gray;
}

.button {
  background-color:rgba(255, 255, 255, 0.9);; /* Green */
  font-family: 'Oxygen', sans-serif;
  color: forestgreen;
  padding: 25px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  width: 250px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
}

.info_text {
  word-wrap: break-word;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: black;
  padding-bottom: 20px; 
}

.text-box {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  opacity: 0.9;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
}

.all_cards {
  width: 100%; 
  margin: auto;   
  padding-top: 40px;
  padding-bottom: 40px;
}

.icon_card {
  display: inline-block;
  padding-left: 1.9%;
  padding-right: 1.9%;
  width: 20%;
  opacity: 0;
}

.forest_icon {
  margin: auto;
  display: block;
  width: 70%;
}

.main_heading {
  font-family: 'Oxygen', sans-serif;
  margin: auto;
  text-align: center;
  color: white;
}

#main_title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 75px;
  animation: fadein 2s ease-in;
}

#secondary_title {
  font-size: 25px;
  animation: fadein 2s ease-in;
}

.main_vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: none;
  padding-bottom: 50px;
  width:  65%;
  height:  65%;
}

.all_buttons {
  margin: auto;
  width: 710px;
}

.background {
  width: 500px;
  height: 500px;
}

.icon_card_text {
  word-wrap: break-word;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

